* {
  margin: 0;
  padding: 0;
}


:host ::ng-deep .p-inputtext:focus:enabled,
:host ::ng-deep .p-inputtext:hover {
  box-shadow: none;
  background:none;
  border-color: #ced4da;
  // border: none;
//   border: 1px solid #ced4da;
}
:host ::ng-deep .p-dropdown:focus:enabled,
:host ::ng-deep .p-dropdown:active{
  box-shadow: none;
  background:none;
  border-color: #ced4da;
  // border: none;
//   border: 1px solid #ced4da;
}
hr{
background-color: #CDCDCD;
  ;
}
.mainContainer{
  display: flex;
  align-items: center;
  // background: #D2D2D2;
}
.sidebar-teamcontainer {
  width:1442px;
  height: 100%;
  display: flex;
  gap: 27px;
  align-items: center;
  align-self: center;
  background: #FAFAFA;


 
  .sidebar {
    width: 257px;
    height: 1080px;
   
    background-color: white;
    border: 1px solid #d7dce0;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(58, 57, 57, 0.24);
  }
  .team-container {
    width: 1132px;
    height: 1080px;
    .line{
      width: 1132px;
      height: 0.5px;
      background: #CDCDCD;


      
    }
    
  }
}

.main-container {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;

  // width: 98%;
  // height: 100%;
  // border: 1px solid #d7dce0;
  border-radius: 10px;
  margin: auto;
  padding: 20px;

  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  // text-align: center;

  width: 1132px;
  height: 795px;
  align-items: center;

  background-color: white;

  .profile_text {
    margin-left: 15px;
  }
}
.error-msg {
  font-weight: 100;
  color: red;
  font-size: 10px;
}
.team-image {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding: 15px;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
}

.h5 {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
  padding: 8px;
}
img {
  width: 53px;
}
.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
}
#userimg {
  margin-right: 10px;
}

.menu-bar {
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: "Raleway", sans-serif;
    color: #efefef;
    font-weight: 700;
    border-bottom: 1.5px solid #d7dce0;
    align-items: center;
    width: max-content;
    gap: 60px;
    padding-right: 25px;
   
  }
}

#profile {
  color: #3bbca0;
  border-bottom: 3px solid #3bbca0;
  padding: 12px;
}

// .flex1{
//     display: flex;
//     justify-content: space-around;
// }
// .flex4{
//     display: flex;
//     justify-content: flex-end;
//     gap: 270px;

// }
.sign-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  //     // gap: 10px;
  //     // background-color: #fce7e7;
  //     padding: 5px;
  //     align-items: center;
  justify-content: space-around;
  gap: 27px;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #9d9d9d;
  //
  .item9 {
    grid-row: 3 / span 2;
  }
 
  .item17 {
    .probper-month {
      ::ng-deep {
        .p-dropdown {
          width: 134px;
          height: 36px;
          display: flex;
          align-items: center;
          border-radius: 3px 0px 0px 3px;
        }
      }
    }
  }

  .item8 {
    .emplycode {
      ::ng-deep {
        .p-dropdown {
          width: 105px;
          height: 36px;
          display: flex;
          align-items: center;
          border-radius: 3px;
        }
        .p-dropdown-label {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          flex: 1 1 auto;
          width: 1%;
          text-overflow: clip;
          cursor: pointer;
        }
      }
    }
  }
  .item3 {
    .calender {
      ::ng-deep {
        .p-calendar .p-inputtext {
          width: 221px;
        }
      }
    }
  }
  .item7 {
    .calender {
      ::ng-deep {
        .p-calendar .p-inputtext {
          width: 221px;
        }
      }
    }
  }
  .item13 {
    .projects {
      ::ng-deep {
        .p-multiselect-label {
          width: 150px;
          overflow: hidden;
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  #btn {
    width: 87px;
    height: 36px;
    // outline: none;
    border: 1px solid #d7dce0;
    border-radius: 0px 3px 3px 0px;
  }
  .probper-month {
    display: flex;
  }
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
::ng-deep {
  .p-inputtext {
    font-size: 12px;
    border-radius: 3px;
  }
  .p-inputtext:enabled:invalid:not(form) {
    border: 0 none;
  }
  .p-inputtext:hover {
    box-shadow: 0 0 0 0 !important;
    border-color: #d7dce0 !important;
  }
  .p-dropdown:hover {
    box-shadow: 0 0 0 0 !important;
    border-color: #d7dce0 !important;
  }
  .p-dropdown::after {
    box-shadow: 0 0 0 0 !important;
    border-color: #d7dce0 !important;
  }

 
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background-color: #3bbca0;
    border-color: #3bbca0;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight {
    background-color: #3bbca0;
    border-color: #3bbca0;
  }
  .p-multiselect.p-multiselect-chip .p-multiselect-token {
    color: #3bbca0;
  }
  .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: #3bbca0;
    background-color: #d7dce0;
    border-color: #3bbca0;
  }

  .p-dropdown {
    width: 221px;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;
  }

  .p-dropdown ::placeholder {
    text-overflow: ellipsis;
    // overflow: visible;
  }
  .p-inputtext {
    width: 221px;
    height: 36px;
  }
  .p-button {
    background-color: #3bbca0;
    border: 0;
    width: 139px;
    height: 36px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: lighter;
  }
  .p-button.p-button-outlined {
    border: 1px solid #3bbca0;
    width: 139px;
    height: 36px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: lighter;
    color: #3bbca0;
  }

  .p-multiselect {
    width: 221px;
    height: 36px;
    font-size: 12px;
    align-items: center;
  }
  .p-multiselect.ng-invalid:not(form) > div {
    border: 1px solid #d40000;
  }
  .p-multiselect.ng-invalid.ng-touched.ui-inputwrapper-focus:not(form) > div {
    box-shadow: 0 0 0 0.05em #f40000;
    border: 1px solid #d40000;
    border-radius: 2px;
  }
  .p-multiselect.ng-invalid.ng-untouched.ui-inputwrapper-focus:not(form) > div {
    box-shadow: 0 0 0 0;
    border: 1px solid #d40000;
    border-radius: 2px;
  }
  .p-multiselect:hover {
    box-shadow: 0 0 0 0 !important;
    border-color: #d7dce0 !important;
  }
  .p-multiselect:visited {
    box-shadow: 0 0 0 0 !important;
    border-color: #d7dce0 !important;
  }
  
 
}
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#topbtn {
  margin-right: 20px;
  border-radius: 5px;
}

.emplycode {
  display: flex;
  gap: 10px;
}
#textbx {
  width: 104px;
  border: 1px solid #d7dce0;
  // background-color: ;
}
.hotel {
  width: 100px;
}
#createBtn:hover {
  background-color: white;
  color: #3bbca0;
  border: 1px solid #3bbca0;
}
#resetbtn:hover {
  background-color: #3bbca0;
  color: white;
}
