.mainContainer{
    width: 100vw;
    height: 100vh;
    background-color:  #D2D2D2;

    .messageBox{
        width: calc(100% - 72%);
        height: calc(100vh - 20px);
        background-color: 
        #FFFFFF;
        margin: auto;
        .heading-closeIcon{
            display: flex;
            justify-content: space-around;
           
            p{
                text-align: center;
            }
           
        }
        
        // text-align: center;
        

        .form{
            .inputBoxes{
                display: flex;
                flex-direction: column;
                gap: 15px;
                .item1{
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    label{
                        font-size: 12px;
                        margin-left: 40px;
                    }
                    .error-msg{
                        font-size: 9px;
                        color: red;

                    }
                    

                }
                
                

                }
                // .item2{
                //     width: 500px;
                //     ::ng-deep{
                //         .p-inputnumber-input {
                //             width: 500px;
                //         }

                //     }
                // }
    
            }
    
        }
    

    }
  
  



// ng deep //

::ng-deep {
    .p-inputtext {
        height: 30px;
        width: calc(100% - 20%);
        margin-left: 40px;
        border-radius: 3px;
    }
    .p-inputtext:enabled:hover {
        border-color: #3BBCA0;
    }
    .p-inputtext:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
        border-color: none;
    }
    .address{
        
            font-size: 12px;
            margin-left: 40px;
        
    }
  
}