.mainContainer{
    width: 100vw;
    height: 100vh;
    background-color:  #D2D2D2;

    .messageBox{
        width: calc(100% - 72%);
        height: calc(100vh - 20px);
        background-color: 
        #FFFFFF;
        margin: auto;
        .heading-closeIcon{
            display: flex;
            justify-content: space-between  ;
           
            p{
                text-align: center;
                margin-left: 130px;
                font-family: "Raleway", sans-serif;
                font-size: 20px;
                font-weight: 700;
                color: #000000;
            }
           
        }
        
        // text-align: center;
        

        .form{
            .inputBoxes{
                display: flex;
                flex-direction: column;
                gap: 18px;
                .item1{
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    label{
                        font-size: 12px;
                        margin-left: 40px;
                        font-family: "roboto", sans-serif;
                        color: #878787;
                        font-weight: 600;

                    }
                    .error-msg{
                        font-size: 9px;
                        color: red;
                        margin-left: 40px;

                    }
                    

                }
                
                

                }
                // .item2{
                //     width: 500px;
                //     ::ng-deep{
                //         .p-inputnumber-input {
                //             width: 500px;
                //         }

                //     }
                // }
                .calender {
                    ::ng-deep {
                      .p-calendar .p-inputtext {
                        width: 347px;
                      }
                    }
                  }
    
            }
            .buttons{
                display: flex;
                align-items: center;
  justify-content: center;
  gap: 20px;
                
            }
            #btn{
                ::ng-deep{
                    color: #3BBCA0;
                    background-color: white;
                    border: 1.5px solid #3BBCA0;
                    border-radius: 5px;
                    width: 140px;
                    height: 40px;
                    font-weight: 700;
                    font-size: 14px;
                    font-family:"Raleway", sans-serif ;
                    
                }
                

              
            }
            #createbtn{
                ::ng-deep{
                    color:  white;
                    background-color:#3BBCA0;
                    border: 2px solid white;
                    border-radius: 5px;
                    width: 140px;
                    height: 42px;
                    font-weight: 700;
                    font-size: 14px;
                    font-family:"Raleway", sans-serif ;
                    
                }
                

              
            }
    
        }
    

    }
  
  



// ng deep //

::ng-deep {
    .p-inputtext {
        height: 36px;
        width: calc(100% - 20%);
        margin-left: 40px;
        border-radius: 3px;
        color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: "roboto", sans-serif;
    }
    .p-inputtext:enabled:hover {
        border-color: #3BBCA0;
    }
    .p-inputtext:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
        border-color: none;
    }
    .p-dropdown {
        width: calc(100% - 20%);
        margin-left: 40px;
        border-radius: 3px;
        appearance: none;
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
    .p-dropdown-label {
        
        font-size: 14px;
        padding: 7px;
        color: black;
        font-family: "roboto", sans-serif;
        font-weight: 400;
    }
    .p-button:enabled:hover{
        background-color: white;
        color:black;
    }
    .p-button {
        color: black;
        background: white;
        border: none;
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
    }
    .p-button:focus {
        box-shadow: none;
    }
    .address{
        
            font-size: 12px;
            margin-left: 40px;
        
    }
  
}