<div class="mainContainer">
    <div class="messageBox">
      <div class="heading-closeIcon">
        <p>Create Client</p>
        <button pButton pRipple type="button" icon="pi pi-times" ></button>
      </div>
        
        <div class="form">
            <form [formGroup]="signupForm" (ngSubmit)="signUser(signupForm.value)" >
                <div class="inputBoxes">

                 <div class="item1 ">
              <label for="fname">Client Name*</label>
              <input type="text" pInputText formControlName="clientName" [value]="clientName?.value| titlecase ">
              <div
              *ngIf="clientName?.invalid && clientName?.touched"
              class="error-msg"
            >
              First Name is required
            </div>
              
            </div>
            <div class="item1 ">
                <label for="fname">Contact Person*</label>
                <input type="text" pInputText formControlName="contactName" >
                <div
              *ngIf="contactName?.invalid && contactName?.touched"
              class="error-msg"
            >
              First Name is required
            </div>
                
              </div>
              <div class="item1 ">
                <label for="fname">Designation*</label>
                <input type="text" pInputText formControlName="firstName" >
                
              </div>
              <div class="item1 ">
                <label for="fname">E-mail*</label>
                <input type="text" pInputText formControlName="firstName" >
                
              </div>
              <div class="item1 ">
                <label for="fname">Country*</label>
                <p-inputNumber  mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
                </p-inputNumber>
                
              </div>
              <div class="item1 ">
                <label for="fname">Contact Number*</label>
                <input type="text" pInputText formControlName="firstName" >
              </div>
              <div class="item1 ">
                <label for="fname">On Boarding Date*</label>
                <input type="text" pInputText formControlName="firstName" >
              </div>
              <div class="item1 ">
                <label for="fname">Address*</label>
                <input type="text" pInputText formControlName="firstName" >
              </div>
              <div class="item9 ">
                <label for="empAddrss" class="address">Employee Address</label>
                <textarea
                  [rows]="5"
                  [cols]="25"
                  pInputTextarea
                  [autoResize]="true"
                  formControlName="employeeAddress"
                ></textarea>
              </div>
              <div class="buttons">
                <button pButton type="button" label="Click" ></button>
                <button pButton type="button" label="Click" ></button>
              </div>
              
  
              
              
              
                </div>
            </form>
           
        </div>
        
    </div>
</div>
