<div class="mainContainer">
    <div class="messageBox">
      <div class="heading-closeIcon">
        <p>Create Client</p>
        <button pButton pRipple type="button" icon="pi pi-times" ></button>
      </div>
        
        <div class="form">
            <form [formGroup]="signupForm" (ngSubmit)="signUser(signupForm.value)" >
                <div class="inputBoxes">

                 <div class="item1 ">
              <label for="fname">Client Name*</label>
              <input type="text" pInputText formControlName="clientName" [value]="clientName?.value| titlecase ">
              <div
              *ngIf="clientName?.invalid && clientName?.touched"
              class="error-msg"
            >
            ClientName is required
            </div>
              
            </div>
            <div class="item1 ">
                <label for="fname">Contact Person*</label>
                <input type="text" pInputText formControlName="contactName"  [value]="contactName?.value| titlecase ">
                <div
              *ngIf="contactName?.invalid && contactName?.touched"
              class="error-msg"
            >
            ContactName  is required
            </div>
                
              </div>
              <div class="item1 ">
                <label for="fname">Designation</label>
                <input type="text" pInputText formControlName="designation"  >
                
              </div>
              <div class="item1 ">
                <label for="fname">E-mail*</label>
                <input type="text" pInputText formControlName="email" >
                <div
                *ngIf="email?.value == '' && email?.touched"
                class="error-msg"
              >
                Email is required
              </div>
              <div
                *ngIf="email?.invalid && email?.touched && email?.dirty && email?.value !== ''"
                class="error-msg"
              >
                Invalid Email
              </div>
                
              </div>
              
              <div class="item1 ">
                <label for="fname">Country</label>
                
                <p-dropdown
                [options]="countries"
                formControlName="country"
                
                optionLabel="name"
                [options]="countries"   (onChange)="onCountryChange($event)"
               
                >
                <ng-template let-countries pTemplate="item">
                  <div class="country-item">
                    <div >{{ countries.name}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              </div>
              <div class="item1 ">
                <label for="fname">Contact Number*</label>
                <input type="number" pInputText formControlName="number" [value]="code" >
                <div
                *ngIf="!number?.value && number?.touched"
                class="error-msg"
              >
                Phone number is required
              </div>
              <div
                *ngIf="
                  signupForm.get('number')?.hasError('minlength') &&
                  signupForm.get('number')?.touched
                "
                class="error-msg"
              >
                Phone Number must contain 10 digits
              </div>
              
                
              </div>
              <div class="item1 ">
                <label for="fname">On Boarding Date</label>
                <p-calendar
                formControlName="date" [minDate]="previousMonth" [maxDate]="nextMonth"
                class="calender"
                dateFormat="dd/mm/yy"
              ></p-calendar>
              </div>
             
              <div class="item9 item1">
                <label for="empAddrss" class="address">Employee Address</label>
                <textarea
                  [rows]="3"
                  [cols]="25"
                  pInputTextarea
                  [autoResize]="true"
                  formControlName="address"
                ></textarea>
              </div><br>
              <div class="buttons">
                <button pButton type="button" label="Discard" id="btn" (click)="onSubmit()" ></button>
                <button pButton type="button" label="Create" id="createbtn"  (click)="validateForm()"></button>
              </div>

              
  
              
              
              
                </div>
            </form>
           
        </div>
        
    </div>
</div>
