

<br>
<h1 id="h1">Latest Project</h1><br><br>
<div class="top-selling">

    <div class="grid-container" id="box">
        <div class="grid-items"   >
            <div class="image-and-sale">
                <h5>sale</h5>
                <img src="/assets/images/flat 1.jpg" alt="">
            </div>
            
            <h3>SAMRUDDI GURUPRASAD</h3>
            <div class="location-text">
                <img src="/assets/images/icons8-location-100.png" id="loction-image" alt="">
                <h4 id="h4-1">Dombivili,Thane</h4>
            </div>
           
            <div class="price-button">
               
               <div class="rupee-text">
                 <img src="/assets/images/icons8-rupee-48.png" id="rupee" alt="">
                 <h4 id="price">25.45 Lac onwards </h4>
                </div>
               <button id="btn">View Details</button>

            </div>
            

        </div>
        
    </div>



    <div class="grid-container" id="box">
        <div class="grid-items"   >
            <div class="image-and-sale">
                <h5>sale</h5>
                <img src="/assets/images/flat01.jpg" class="flat2" alt="">
            </div>
            
            <h3>SAMRUDDI GURUPRASAD</h3>
            <div class="location-text">
                <img src="/assets/images/icons8-location-100.png" id="loction-image" alt="">
                <h4 id="h4-1">Dombivili,Thane</h4>
            </div>
           
            <div class="price-button">
               
               <div class="rupee-text">
                 <img src="/assets/images/icons8-rupee-48.png" id="rupee" alt="">
                 <h4 id="price">25.45 Lac onwards </h4>
                </div>
               <button id="btn">View Details</button>

            </div>
            

        </div>
        
    </div>


    <div class="grid-container" id="box">
        <div class="grid-items"   >
            <div class="image-and-sale">
                <h5>sale</h5>
                <img src="/assets/images/flat2.jpg"  class="flat2" alt="">
            </div>
            
            <h3>SAMRUDDI GURUPRASAD</h3>
            <div class="location-text">
                <img src="/assets/images/icons8-location-100.png" id="loction-image" alt="">
                <h4 id="h4-1">Dombivili,Thane</h4>
            </div>
           
            <div class="price-button">
               
               <div class="rupee-text">
                 <img src="/assets/images/icons8-rupee-48.png" id="rupee" alt="">
                 <h4 id="price">25.45 Lac onwards </h4>
                </div>
               <button id="btn">View Details</button>

            </div>
            

        </div>
        
    </div>





    <div class="grid-container" id="box">
        <div class="grid-items"   >
            <div class="image-and-sale">
                <h5>sale</h5>
                <img src="/assets/images/flat3.jpg "  class="flat2"alt="">
            </div>
            
            <h3>SAMRUDDI GURUPRASAD</h3>
            <div class="location-text">
                <img src="/assets/images/icons8-location-100.png" id="loction-image" alt="">
                <h4 id="h4-1">Dombivili,Thane</h4>
            </div>
           
            <div class="price-button">
               
               <div class="rupee-text">
                 <img src="/assets/images/icons8-rupee-48.png" id="rupee" alt="">
                 <h4 id="price">25.45 Lac onwards </h4>
                </div>
               <button id="btn">View Details</button>

            </div>
            

        </div>
        
    </div>





    <div class="grid-container" id="box">
        <div class="grid-items"   >
            <div class="image-and-sale">
                <h5>sale</h5>
                <img src="/assets/images/flat4.jpg"  class="flat2" alt="">
            </div>
            
            <h3>SAMRUDDI GURUPRASAD</h3>
            <div class="location-text">
                <img src="/assets/images/icons8-location-100.png" id="loction-image" alt="">
                <h4 id="h4-1">Dombivili,Thane</h4>
            </div>
           
            <div class="price-button">
               
               <div class="rupee-text">
                 <img src="/assets/images/icons8-rupee-48.png" id="rupee" alt="">
                 <h4 id="price">25.45 Lac onwards </h4>
                </div>
               <button id="btn">View Details</button>

            </div>
            

        </div>
        
    </div>




    <div class="grid-container" id="box">
        <div class="grid-items"   >
            <div class="image-and-sale">
                <h5>sale</h5>
                <img src="/assets/images/flat6.webp"  class="flat2" alt="">
            </div>
            
            <h3>SAMRUDDI GURUPRASAD</h3>
            <div class="location-text">
                <img src="/assets/images/icons8-location-100.png" id="loction-image" alt="">
                <h4 id="h4-1">Dombivili,Thane</h4>
            </div>
           
            <div class="price-button">
               
               <div class="rupee-text">
                 <img src="/assets/images/icons8-rupee-48.png" id="rupee" alt="">
                 <h4 id="price">25.45 Lac onwards </h4>
                </div>
               <button id="btn">View Details</button>

            </div>
            

        </div>
        
    </div>
</div>

