

<div class="sidebar">
      <div class="nmsLogo">
        <img src="/assets/images/Logo.svg" alt="">
        <img src="/assets/images/NMS (1).svg" alt="">
      </div><br><br>
      <div class="icon-texts">
        <div class="package-1">
          <img src="/assets/images/Vector.svg" class="icons" alt="">
        <h4>Dashboard</h4>
        </div>
        <div class="package-1 team">
          <img src="/assets/images/Shape.svg" class="icons " alt="">
        <h4>Team</h4>
        </div>
        <div class="package-1">
          <img src="/assets/images/Shape (1).svg" class="icons" alt="">
        <h4>Vacations</h4>
        </div>
        <div class="package-1">
          <img src="/assets/images/Shape (2).svg" class="icons" alt="">
        <h4>Punchboard</h4>
        </div>
        <div class="package-1">
          <img src="/assets/images/Shape (3).svg" class="icons" alt="">
        <h4>Time Tracking</h4>
        </div>
        <div class="package-1">
          <img src="/assets/images/octicon_project-24.svg" class="icons" alt="">
        <h4>Projects</h4>
        </div>
        <div class="package-1">
          <img src="/assets/images/Group.svg" class="icons" alt="">
        <h4>Clients</h4>
        </div>
        <div class="package-1">
            <img src="/assets/images/Shape (4).svg" class="icons" alt="">
          <h4>Reports</h4>
          </div>
        <div class="package-1">
          <img src="/assets/images/Shape (5).svg" class="icons" alt="">
        <h4>Calender</h4>
        </div>
        <div class="package-1">
          <img src="/assets/images/Shape (6).svg" class="icons" alt="">
        <h4>Notifications</h4>
        </div>
        <div class="package-1">
          <img src="/assets/images/Shape (7).svg" class="icons" alt="">
        <h4>Settings</h4>
        </div>
        
      </div>
      
    </div> 